
<div id="bid-content">
    <p id="bid-label"> Sản phẩm đấu giá</p>
    <div>
        <div class="slides">
            <span class="control" id="prev"></span>
            <div class="container">
            <div class="wrap-inner">
                        <%count = 0;%>
                        <%@bids.each do |bid|%>
                        <%@product = Product.find(:first,:conditions=>{:id=>bid.product_id})%>
                        <%if(count%3==0)%>
                        <div class="nthslide">
                        <%end%> 
                        <div class="product" style="width:295px;">
                        <a href="?id=<%=bid.id%>">
                        <div>
                            <img src="../assets/<%=@product.product_image%>"></img>
                        </div>
                        <div class="info">
                            <p><%=@product.product_name%></p>
                            <p><b>Phí đấu</b> :<span><%= bid.bid_unit_cost%> VND</span></p>
                            <p><b>Kết thúc</b> :<span> <%= bid.bid_end_time.strftime("%d/%m/%Y %H:%M:%S")%></span></p>
                            <%hour = ((bid.bid_end_time-DateTime.now)/3600).floor%>
                            <%minute = (((bid.bid_end_time-DateTime.now)/3600-hour)*60).floor%>
                            <%second = ((bid.bid_end_time-DateTime.now)-hour*3600-minute*60).floor%>
                            <%if (hour < 0) 
                            hour = 0;minute = 0;second=0;
                            bid.update_attributes(:transaction_status=>"0");
                            end%>
                            <div ></div><strong style="color:orange"><spa class="hour" value="<%=hour%>"><%=hour%></spa><sup>Giờ</sup><spa class="minute" value="<%=minute%>"><%=minute%></spa><sup>phút</sup><spa class="second" value="<%=second%>"><%=second%></spa><sup>Giây</sup></strong>
                        </div>
                        </a>
                         </div>                  
                        <%if(count%3==0)%>
                        </div>
                        <%end%>
                        <%count=count+1;%>
                        <%end%>
                        
            </div>
            </div>
            <span class="control" id="next"></span>
        </div>
    </div> 
    <div id="product-detail">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab3" data-toggle="tab">Đấu giá</a></li>
            <li><a href="#tab4" data-toggle="tab">Luật chơi</a></li>
            
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab3">
              <div>
                  <img src="../assets/<%=@pro.product_image%>"></img>
                  <br/><br/>
                  Giá không trùng lặp <span class="DN"> </span> 
                  Giá trùng lặp <span class="TL"></span>
              </div>
              <div class="info">
              <span><%=@pro.product_name%></span>
                 <hr/>
                <div class="fee">
                    <p>Phí đặt giá</p>
                    <span><%=@bid.bid_unit_cost%> VND</span>
                </div>
                <div class="cost">
                    <p>Giá thị trường</p>
                    <span><%=@pro.product_price%> VND</span>
                </div>
                <%hour = ((@bid.bid_end_time-DateTime.now)/3600).floor%>
                            <%minute = (((@bid.bid_end_time-DateTime.now)/3600-hour)*60).floor%>
                            <%second = ((@bid.bid_end_time-DateTime.now)-hour*3600-minute*60).floor%>
                            <%if (hour < 0) 
                            hour = 0;minute = 0;second=0;
                            @bid.update_attributes(:transaction_status=>"0");
                            end%>
               <div class="remain-time">
                    <p>Thời gian còn lại</p>
                    <span><strong style="color:orange"><spa class="hour" value="<%=hour%>"><%=hour%></spa><sup>Giờ</sup><spa class="minute" value="<%=minute%>"><%=minute%></spa><sup>phút</sup><spa class="second" value="<%=second%>"><%=second%></spa><sup>Giây</sup></strong></span>
                </div>
                <div class="times">
                    <p>Số lần còn lại</p>
                    <%if(user_signed_in?)%>
					<%if current_user.user_balance.nil?%>
					<%
					user = User.find(current_user.id);
					user.update_attributes(:user_balance=>100000);
					%>
					<%end%>
					<%if !current_user.user_balance.nil?%>
					<span><%=(current_user.user_balance/@bid.bid_unit_cost).floor%></span>
					<%else%>
					<span>0</span>
					<%end%>
                    <%else%>
                    <span>0</span>
                    <%end%>
                </div>
                    <%if(user_signed_in?)%>
                    <%= form_for(@user_bid,:class=>"form") do |f| %>
                    <%=f.number_field :user_price,:placeholder=>"Đơn Vị : Nghìn VND",:value=>0%></br>
                    <%=f.text_field :bid_id,:value=>@bid.id,:style=>"display:none"%>
                    <%=f.submit "Đấu giá",:class=>"btn btn-large btn-danger"%>
                    <%end%>
                    <%end%>            
              </div>
            </div>
            <div class="tab-pane" id="tab4">
              <img src="../assets/rule.png" style="margin-left:20px;;"></img>
            </div>
          </div>
        </div>
        <div id="top-customer">
            <%count =1;%>
            <p class="alert"><strong>Bảng xếp hạng</strong></p>
            <div class="top">
                <table class="table table-striped">
              <thead>
                <tr>
                  <th>Hạng</th>
                  <th>Người chơi</th>
                  <th>Tình trạng</th>
                </tr>
              </thead>
              <tbody>
              <%if(@user_bids!=nil)%>
                <%
                  id = Array.new;
                  price = Array.new;
                  duplicate = Array.new;
                  temp = Array.new;
                  @user_bids.each do |user_bid|
                    @user = User.find(user_bid.user_id)
                    price.push(user_bid.user_price)
                  end
                  price.each{|x| temp.push(x)}
                  temp.each{|p| num = price.count{|x| x==p}
                  if num>=2
                    duplicate.push(p);
                    price.delete_if{|x| x==p}
                  end
                  }
                %>
              <%end%>
              
              <%
              if price.count>=1
               win_user = UserBid.find(:first,:conditions=>{:user_price=>price[0]})
               @bid.update_attributes(:winner_user_id=>win_user.user_id)
              price.each{|x| @user_b = UserBid.find(:first,:conditions=>{:bid_id=>@bid.id,:user_price=>x})
                id.push(@user_b.user_id);
                num = id.count{|n| n==@user_b.user_id}
                if(num==1)%>
                    <%@user = User.find(@user_b.user_id)%>
                    <tr>
                      <td><%=count%></td>
                      <td><%=@user.email.truncate(15)%></td>
                      <td ><span class="DN"></span></td>
                    </tr>
                    <%count = count+1;%>
                <%end}%>
              <%end%>
              <%
              if duplicate.count>=1
              duplicate.each{|x| @user_b = UserBid.find(:all,:conditions=>{:bid_id=>@bid.id,:user_price=>x})
                @user_b.each do |user_|
                    id.push(user_.user_id)
                    num = id.count{|n| n==user_.user_id}
                    if(num==1)%>
                    <%@user = User.find(user_.user_id)%>
                    <tr>
                      <td><%=count%></td>
                      <td><%=@user.email.truncate(15)%></td>
                      <td><span class="TL"></span></td>
                    </tr>
                    <%count = count+1;%> 
                    <%end%> 
                <%end}%>
               <%end%>
              
              </tbody>
            </table>  
            </div>
        </div>
        <p id="label-detail">Chi tiết sản phẩm</p>
        <div id="product-description">
            <!---->
            <%=raw @pro.product_description%>
            <!---->
        </div>
    </div>
</div>


























<!--
<h1>Listing bids</h1>

<table>
  <tr>
    <th>Bid start time</th>
    <th>Bid end time</th>
    <th>Bid tax</th>
    <th>Bid unit cost</th>
    <th>Transaction status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bids.each do |bid| %>
  <tr>
    <td><%= bid.bid_start_time %></td>
    <td><%= bid.bid_end_time %></td>
    <td><%= bid.bid_tax %></td>
    <td><%= bid.bid_unit_cost %></td>
    <td><%= bid.transaction_status %></td>
    
    <td><%= link_to 'Show', bid %></td>
    <% if session %>
    <% if session["warden.user.user.key"]%>
    <% if session["warden.user.user.key"][1][0]==1%>

    <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
    <td><%= link_to 'Destroy', bid, confirm: 'Are you sure?', method: :delete %></td>
    <%end%>
    <%end%>
    <%end%>
  </tr>
<% end %>
</table>

<br />
<% if session %>
    <% if session["warden.user.user.key"]%>
    <% if session["warden.user.user.key"][1][0]==1%>
<%= link_to 'New Bid', new_bid_path %>
<%end%>
<%end%>
<%end%>
-->