
<h1>Listing bids</h1>

<table>
  <tr>
    <th>Bid start time</th>
    <th>Bid end time</th>
    <th>Bid tax</th>
    <th>Bid unit cost</th>
    <th>Transaction status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bids.each do |bid| %>
  <tr>
    <td><%= bid.bid_start_time %></td>
    <td><%= bid.bid_end_time %></td>
    <td><%= bid.bid_tax %></td>
    <td><%= bid.bid_unit_cost %></td>
    <td><%= bid.transaction_status %></td>
    
    <td><%= link_to 'Show', bid %></td>
    <% if session %>
	<% if session["warden.user.user.key"]%>
	<% if session["warden.user.user.key"][1][0]==1%>

    <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
    <td><%= link_to 'Destroy', bid, confirm: 'Are you sure?', method: :delete %></td>
    <%end%>
	<%end%>
	<%end%>
  </tr>
<% end %>
</table>

<br />
<% if session %>
	<% if session["warden.user.user.key"]%>
	<% if session["warden.user.user.key"][1][0]==1%>
<%= link_to 'New Bid', new_bid_path %>
<%end%>
<%end%>
<%end%>