<!--
<a href="/users/sign_in">Sign In</a><br />
<a href="/users/sign_up">Sign Up</a><br />
<a href="/products">View Product</a><br />
<a href="/products/new">Add Product</a><br />
<a href="/bids">View Bids</a><br />
<a href="/bids/new">Add Bids</a><br />
<a href="/user_bids">View user_bid info</a><br />
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
-->
<div id="home-content">
	<div id="home-top-content">
		<div id="home-advertise">
			<span>Quảng cáo : 01676919422</span>
			<img src="../assets/Slide_2.jpg"></img>
		</div>
		<div id="home-announce">
			<div class="tabbable"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Trao giải</a></li>
				<li><a href="#tab2" data-toggle="tab">Chiến thắng</a></li>
			  </ul>
			  <div class="tab-content">
			  	<% award = Bid.find(:first,:conditions=>{:award=>1},:order=>"updated_at DESC")%>
				<% product = Product.find(award.product_id)%>
				<% usr_bid = UserBid.find(:first,:conditions=>{:bid_id=>award.id,:user_id=>award.winner_user_id},:order=>"user_price")%>
				<% usr = User.find(award.winner_user_id)%>
				<div class="tab-pane active" id="tab1">
					  <span><%=product.product_name%></span><br/>
					  <p>Kết thúc: <%=award.bid_end_time.strftime("%d/%m/%Y %H:%M:%S")%></p>
					  <hr>
					  <div id="image">
					  	<img src="../assets/<%=product.product_image%>"></img>
				  	  </div>
					  <div id="info">
					  	<p>Giá thị trường :<span><%=product.product_price%> VND<span></p>
					 	<p>Giá trúng :<span><%= usr_bid.user_price%>.000 VND</span></p>
						<p>Chiến thắng :<span><%= usr.user_realname%></span><p>
						<p>Điện thoại :<span><%= usr.user_phone%></span></p>
					  </div>
					  	
				</div>
				<div class="tab-pane" id="tab2">
					<% awards = Bid.find(:all,:conditions=>{:award=>0,:transaction_status=>0})%>
					<%	
						award = nil
						awards.each do |f|
							if f.bid_end_time <= DateTime.now
								award = f;
							end
						end
					%>
					<% product = Product.find(award.product_id)%>
					<% usr_bid = UserBid.find(:first,:conditions=>{:bid_id=>award.id,:user_id=>award.winner_user_id},:order=>"user_price")%>
					<% usr = User.find(award.winner_user_id)%>
				  	<span><%=product.product_name%></span><br/>
					  <p>Kết thúc: <%=award.bid_end_time.strftime("%d/%m/%Y %H:%M:%S")%></p>
					  <hr>
					  <div id="image">
						<img src="../assets/<%=product.product_image%>"></img>
					  </div>
					  <div id="info">
						<p>Giá thị trường :<span><%=product.product_price%> VND<span></p>
						<p>Giá trúng :<span> <%= usr_bid.user_price%>.000 VND</span></p>
						<p>Chiến thắng :<span> <%=usr.user_realname %></span><p>
						<p>Điện thoại :<span> <%=usr.user_phone%></span></p>
					  </div>
						
				</div>
  			  </div>
			</div>
		</div>
		<div id="label-product">
			Sản phẩm đấu giá
		</div>
		<div id="products">
			
			<%@bids.each do |bid| %>
			<%@product = Product.find(:first,:conditions=>{:id=>bid.product_id})%>
			<div class="product">
				<a href="bids/?id=<%=bid.id%>">
				<div>
					<img src="../assets/<%=@product.product_image%>"></img>
				</div>
				<div class="info">
					<p><%= @product.product_name%></p>
					<p><b>Phí đấu</b> :<span> <%= bid.bid_unit_cost%> VND</span></p>
					<p><b>Kết thúc</b> :<span> <%= bid.bid_end_time.strftime("%d/%m/%Y %H:%M:%S")%></span></p>
					<%hour = ((bid.bid_end_time-DateTime.now)/3600).floor%>
					<%minute = (((bid.bid_end_time-DateTime.now)/3600-hour)*60).floor%>
					<%second = ((bid.bid_end_time-DateTime.now)-hour*3600-minute*60).floor%>
					<%if (hour < 0) 
					hour = 0;minute = 0;second=0;
					bid.update_attributes(:transaction_status=>"0");
					end%>
					<div ></div><strong style="color:orange"><spa class="hour" value="<%=hour%>"><%=hour%></spa><sup>Giờ</sup><spa class="minute" value="<%=minute%>"><%=minute%></spa><sup>phút</sup><spa class="second" value="<%=second%>"><%=second%></spa><sup>Giây</sup></strong>
				</div>
				</a>
			</div>
			<%end%>
		</div>
	</div>
</div>
