<p id="notice"><%= notice %></p>
<% if session%>
<% if session["warden.user.user.key"]%>
<%if session["warden.user.user.key"][1][0]==1%>
<p>
  <b>Bid:</b>
  <%= link_to(@user_bid.bid_id.to_s, "/bids/"+@user_bid.bid_id.to_s)%>
</p>

<p>
  <b>User:</b>
  <%= link_to(@user_bid.user_id.to_s, "/users/"+@user_bid.user_id.to_s)%>
</p>

<p>
  <b>Time:</b>
  <%= @user_bid.time %>
</p>

<p>
  <b>User price:</b>
  <%= @user_bid.user_price %>
</p>


<%= link_to 'Edit', edit_user_bid_path(@user_bid) %> |
<%end%><%end%><%end%>
<%= link_to 'Back', user_bids_path %>
