<div id="edit_user">


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <span class="alert alert-error"><strong>Change user information</strong></span>
  <div style="height:20px;"></div>
  <%= f.label :email %>
  <%= f.email_field :email %>
  
  <%=f.label:user_id_card_number%>
  <%= f.text_field :user_id_card_number%>
  
  <%=f.label :user_realname%>
  <%= f.text_field :user_realname%>
  
  <%=f.label:user_job%>
  <%= f.text_field :user_job%>
  
  <%=f.label:user_phone%>
  <%= f.text_field :user_phone%>
  
  <%=f.label:user_address%>
  <%= f.text_field :user_address%>
  
  
  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
  <%= f.password_field :password, :autocomplete => "off" %>

  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>

  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %><br/>

  <%= f.submit "Update" %>
<% end %>
</div>