<p id="notice"><%= notice %></p>

<% product = Product.find(@bid.product_id.to_s)%>
<h2>Đặt giá</h2>
<table>
	<tr>
		<td>
			<img src="link_to_image" height="300" width="300" alt="">
		</td>
		<td>
			<table>
				<tr>
					<h2>Tên product here product.name</h2>
				</tr>
				<tr>
					<td>
						<b>Tình trạng</b>
					</td>
					<td>
						<%= @bid.getStatus()%>
					</td>
				</tr>
				<tr>
					<td>
						<b>Giá thị trường</b>
					</td>
					<td>
						<%= "@bid.giathitruong chưa bổ sung trong csdl lấy gì ra ???"%>
					</td>
				</tr>
				<tr>
					<td>
						<b>Thời gian còn lại:</b>
					</td>
					<td>
						<%= @bid.getRemainingTime %>
					</td>
				</tr>
				<tr>
					<td>
						<b>Thời gian kết thúc:</b>
					</td>
					<td>
						<%= @bid.bid_end_time %>
					</td>
				</tr>
				<tr>
					<td>
						<b>Phí đặt giá:</b>
					</td>
					<td>
						<%= @bid.bid_tax %>
					</td>
				</tr>
				<tr>
					<td>
						<b>Bước nhảy giá:</b>
					</td>
					<td>
						<%= @bid.bid_unit_cost %>
					</td>
				</tr>
				<table>
					<tr>
						<td>
						<a href="/user_bid/new">
							<img src="" border="0" alt="Đặt giá" title="Đặt giá">
						</a>
						</td>
						<td>
							<div class="field">
    <label for="user_price">Product name</label><br>
    <input id="user_price" name="product[product_name]" size="30" type="text">

  							</div>
						</td>
					<table>
				</table>
		</td>
	</tr>
</table>
<% if session %>
<% if session["warden.user.user.key"]%>
<%	if session["warden.user.user.key"][1][0]>=1 %>
<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%end%><%end%><%end%>
<%= link_to 'Back', bids_path %>
