<!DOCTYPE html>
<html>
<head>
  <title>CrazyBid</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
         <% 
            def resource
               @resource ||= User.new
            end
            def resource_name
               :user
            end
            def devise_mapping
               @devise_mapping ||= Devise.mappings[:user]
            end
         %>
<body style="background-color:#EFEFEF;">
  <div id="top-bar">
      <%if(!user_signed_in?)%>   
      <span id="login-in-top">Login</span>
      <div id="login_form">
        <%= render :template=>"devise/sessions/new",:locals=>{:in_form=>1}%>
      </div>
      <span id="register-in-top">Register</span>
      <div id="register_form">
         <%= render :template=>"devise/registrations/new",:locals=>{:in_form=>1}%>
      </div>
      <%end%>
      <%if(user_signed_in?)%>
      <span>|<%= link_to "Logout",destroy_user_session_path, :method => :delete,:class=>'link_log'%></span>
      <span>|<strong> Money: </strong><n style="color:yellow">10.000 VND</n></span>
      <span>|<%=link_to current_user.email,edit_user_registration_path%></span>
      <%end%>
   
  
  </div>
  <div id="navigator-bar">
      <li id="logo"></li>
      <li id="home" ><a href="/"><span></span></a>Trang chu</li>
      <li id="auctions"><a href="/bids/"><span></span></a>Dau gia</li>
      <li id="help"><a href="/helps/"><span></span></a>Huong dan</li>
      <li id="coin"><a href="#"><span></span></a>Nap xu</li>
      <li id="comment"><a href="#"><span></span></a>Thao luan</li>
      <li id="win"><a href="#"><span></span></a>Trung thuong</li>
      <li id="award"><a href="#"><span></span></a>Trao giai</li>
  </div>
    <%= yield %>
</body>
</html>
