<!DOCTYPE html>
<html>
<head>
  <title>CrazyBid</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top_panel">
  <a href="/"><div id="logo"></div></a>
</div>

<div id="left_advertise_panel">
  Advertise here<br/>
  Advertise here<br/>
  Advertise here<br/>
</div>

<div id="right_advertise_panel" style="width:15%">
  Advertise here<br/>
  Advertise here<br/>
  Advertise here<br/>
</div>

<div id="inner_page" style="width: 70%">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
